<!doctype html>
<html lang="en">
  <head>
    <title>website 4
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav style="font-family:'Times New Roman', Times, serif ;" class="navbar navbar-expand-lg text-uppercase navbar-dark bg-dark">
        <a class="navbar-brand" style="font-size: xx-large;" href="#">blog website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ragister">Ragister</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="wellcome">wellcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">logout</a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  containt
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <header>
          <div class="row p-4 " style="background-color: rgb(170, 238, 238);">
              <div class="col-lg-6">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <h6 class="text-center mt-3"> header ads</h6>
              </div>
          </div>
      </header>
      <section class="container-fluid">
          <div class="row">
              <div class="col-lg-8  mt-5 ">
                
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?nature" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?beauty" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?news" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>

                  <div class="card-deck mt-5">
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?computer" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?information" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?technology" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>

                  <div class="card-deck mt-5">
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?water" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?city" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?social" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>

                  <div class="card-deck mt-5">
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?social media" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?picnic" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://source.unsplash.com/214x180/?ice-cream" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>

              </div>


              <div class="col-lg-4 mt-5">
                <div class="list-group">
                    <button type="button" style="font-size: x-large; text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="list-group-item list-group-item-action active">
                      catogaries
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">news  <span class="badge badge-primary float-right badge-pill">754</span></button>
                    <button type="button" class="list-group-item list-group-item-action">beuty <span class="badge badge-primary float-right badge-pill">34</span></button>
                    <button type="button" class="list-group-item list-group-item-action">art <span class="badge badge-primary float-right badge-pill">13</span></button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>media <span class="badge badge-primary float-right badge-pill">15</span></button>
                    <button type="button" class="list-group-item list-group-item-action">social media <span class="badge badge-primary float-right badge-pill">55</span></button>
                    <button type="button" class="list-group-item list-group-item-action"> ice-cream <span class="badge badge-primary float-right badge-pill">234</span></button>
                    <button type="button" class="list-group-item list-group-item-action">technology <span class="badge badge-primary float-right badge-pill">123</span></button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>comuter <span class="badge badge-primary float-right badge-pill">87</span> </button>
                    <button type="button" class="list-group-item list-group-item-action">science <span class="badge badge-primary float-right badge-pill">23</span></button>
                    <button type="button" class="list-group-item list-group-item-action">information <span class="badge badge-primary float-right badge-pill">29</span></button>
                    <button type="button" class="list-group-item list-group-item-action">study material <span class="badge badge-primary float-right badge-pill">60</span></button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Movie news <span class="badge badge-primary float-right badge-pill">92</span></button>
                    <button type="button" class="list-group-item list-group-item-action">hardware vs software <span class="badge badge-primary float-right badge-pill">282</span></button>
                    <button type="button" class="list-group-item list-group-item-action">hair style <span class="badge badge-primary float-right badge-pill">12</span></button>
                    <button type="button" class="list-group-item list-group-item-action">health policy <span class="badge badge-primary float-right badge-pill">09</span></button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>other news <span class="badge badge-primary float-right badge-pill">10489</span></button>

                  </div>
                  <div class="text-center mt-5 list-group">
                    <button type="button" style="font-size: x-large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; " class="list-group-item list-group-item-action  bg-success text-white ">
                      Follow Us
                    </button>
                    <button type="button" class="list-group-item list-group-item-action ">Whatsapp</button>
                    <button type="button" class="list-group-item list-group-item-action">Facebook</button>
                    <button type="button" class="list-group-item list-group-item-action">Instagram</button>
                    <button type="button" class="list-group-item list-group-item-action">Twitter</button>
                    <button type="button" class="list-group-item list-group-item-action">Linkedin</button>
                    <button type="button" class="list-group-item list-group-item-action">Telegram</button>

                  </div>
                 
                  <form class="border rounded mt-5" style="background-color: white;">
         

              
                    <button id="contact" type="button" style="font-size: x-large; text-align: center; font-family:'Times New Roman', Times, serif;" class="list-group-item list-group-item-action bg-warning">
                       CONTACT US
                      </button>
                    <div class="form-row justify-containt-center mt-3">
                      <div class="col">
                        <label for="inputnamel4">First Name</label>
                        <input type="text" class="form-control" placeholder="First name">
                      </div>
                      <div class="col">
                        <label for="inputdel4">Second Name</label>
                        <input type="text" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                   
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        
                      
                       
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Check me out
                            </label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
               
                    </form>
              
              </div>
          </div>

      </section>
      
      
      <footer   class=" text-white mt-5 text-center text-uppercase " style="font-family: 'Times New Roman', Times, serif; background-color: rgb(114, 112, 111);">
          <div class="row">
              <div class="col-lg-4 mt-5">
                 <h1>Location</h1>
                 <p class="mt-3">
                     AT-RAJOSANA 
                 </p>
                 <P>PO:- PIROZPURA</P>
                 <P> TA:-VADAGAMDIST :- BANAS KANTHA</P>
              </div>
              <div id="about" class="col-lg-4 text-center mt-5" >
                  <h1>ABOUT US</h1>
                  <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et assumenda a voluptatibus nemo quaerat vero, rerum vel modi debitis alias voluptatem aliquid hic dicta expedita cumque similique tempora culpa dolore?</p>
                 
              </div>
              <div class="col-lg-4 mt-5">
                  <h1>follow us</h1>
                  <p class="mt-3"> facebook</p>
                  <p>whatsapp</p>
                  <p>youtube</p>

              </div>
          </div>
          
      </footer>
 
    <div class="footer-copyright bg-dark text-white text-center py-3">© 2020 Copyright:
      <a href="https://basannofal.blogspot.com/"> basannofal.blogspot.com</a>
    </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>